{% macro item(photo) %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="gallery-item">
            <div class="item-box lightbox">
                <a class="lightbox" data-width="1280" {% if photo.description %}data-title="{{ photo.description[:50] }}"{% endif %} data-toggle="lightbox" href="{{ image(photo.image).path() }}">
                    <img class="item-container" src="{{ image(photo.image).fit(1024,768).path() }}">
                </a>
            </div>

        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% if club.photos().count() %}
<section id="gallery" class="block block-gallery layout-4">
    <div class="container">
        <div class="intro">
            <h2 class="purple">Photo Gallery</h2>
        </div>
        <div class="gallery grid-gutter-10 wow fadeIn" data-wow-delay="0.1s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
            <div class="row">
                {% for photo in club.photos().get() %}
                    {{ macros.item(photo) }}
                {% endfor %}
                <div class="clearfix visible-md-block visible-lg-block"></div>
            </div>
        </div>
    </div>
</section>
{% endif %}


