<section class="top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
    <div class="container">
        <div class="search-wrapper">
            <form action="{{ url('search') }}" method="get">
                <input type="text" class="form-control" placeholder="Search..." name="q" value=""/>

                <button class="search-bar-icon" type="submit">
                    <i class="fa fa-search"></i>
                </button>

                <a class="bar-close toggle-push menu-top"><i class="fa fa-close"></i></a>
            </form>
        </div>
    </div>
</section>