<div class="subnav">
    <div id="subnav-amenities" class="subnav-item">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-7">
                    <a class="btn btn-purple" href="/amenities">Browse All Amenities</a>
                    <a class="btn btn-white" href="/about">About The Village</a>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <h3 class="purple">Activities</h3>
                            <ul>
                                <li><a href="/amenities/education">Education</a></li>
                                <li><a href="/amenities/sports/equestrian">Equestrian</a></li>
                                <li><a href="/amenities/sports">Fitness / Sports</a></li>
                                <li><a href="/amenities/golf">Golf</a></li>
                                <li><a href="/amenities/recreation">Recreation</a></li>

                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <h3 class="purple">Conveniences</h3>
                            <ul>
                                <li><a href="/amenities/media-services">Media Services</a></li>
                                <li><a href="/amenities/transportation">Transportation</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-4 side-md">
                            <h3 class="purple">Facilities</h3>
                            <ul>
                                <li><a href="/amenities/clubhouses">Clubhouses</a></li>
                                <li><a href="/amenities/garden-centers">Garden Centers</a></li>
                                <li><a href="http://www.lagunawoodshistory.org" target="_blank">Historical Society</a></li>
                                <li><a href="/amenities/clubhouses/library">Village Library</a></li>
                                <li><a href="/amenities/clubhouses/performing-arts-center">Theater</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-push-1">
                    <a class="btn btn-purple" href="/amenities/clubs">Browse All Clubs</a>
                    <h3 class="purple">Club Types</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/amenities/clubs?filter=arts">Arts & Crafts</a></li>
                                <li><a href="/amenities/clubs?filter=dance">Dance</a></li>
                                <li><a href="/amenities/clubs?filter=general">General Interest</a></li>
                                <li><a href="/amenities/clubs?filter=performing">Performing Arts</a></li>
                                <li><a href="/amenities/clubs?filter=tech">Science &amp; Tech</a></li>
                                <li><a href="/amenities/clubs?filter=fitness">Sports &amp; Fitness</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/amenities/clubs?filter=cultural">Cultural</a></li>
                                <li><a href="/amenities/clubs?filter=games">Games</a></li>
                                <li><a href="/amenities/clubs?filter=health">Health &amp; Wellness</a></li>
                                <li><a href="/amenities/clubs?filter=political">Political</a></li>
                                <li><a href="/amenities/clubs?filter=religious">Religious</a></li>
                                <li><a href="/amenities/clubs?filter=support">Support Groups</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subnav-neighborhoods" class="subnav-item">
        <div class="container">
            <a class="btn btn-purple" href="/neighborhoods">Neighborhoods Home</a>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-lg-8">
                    <h3 class="purple">The Neighborhoods</h3>
                    <div class="row grid-gutter-20">
                        <div class="col-xs-12 col-sm-4">
                            <div class="item-box linked fixed-overlay purple">
                                <a class="linked" href="/neighborhoods/third-laguna-hills-mutual">
                                    <img class="item-container" src="{{ image("local://block_gallery_images/Neighborhoods_third.jpg").resize(300).path() }}">
                                </a>
                            </div>
                            <div class="item-caption">
                                <a href="/neighborhoods/third-laguna-hills-mutual">Third Laguna Hills</a>
                                <p>Stunning PGA 27-hole golf course.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="item-box linked fixed-overlay purple">
                                <a class="linked" href="/neighborhoods/united-laguna-woods-mutual">
                                    <img class="item-container" src="{{ image("local://block_gallery_images/Neighborhoods_united.jpg").resize(300).path() }}">
                                </a>
                            </div>
                            <div class="item-caption">
                                <a href="/neighborhoods/united-laguna-woods-mutual">United Laguna Woods</a>
                                <p>Panoramic views of South Orange County.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="item-box linked fixed-overlay purple">
                                <a class="linked" href="http://towersatlagunawoodsvillage.com/" target="_blank">
                                    <img class="item-container" src="{{ image("local://block_gallery_images/Neighborhoods_towers.jpg").resize(300).path() }}">
                                </a>
                            </div>
                            <div class="item-caption">
                                <a href="http://towersatlagunawoodsvillage.com/" target="_blank">The Towers</a>
                                <p>The ultimate in luxury, carefree living!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-lg-4">
                    <h3 class="purple"><span class="hidden-md">More </span>Information</h3>
                    <ul>
                        <li><a href="/neighborhoods/floorplans">Browse Floorplans</a></li>
                        <li><a href="/neighborhoods/sales-and-leasing">Sales &amp; Leasing Info</a></li>
                        <li><a href="/residents/golden-rain-foundation/documents#sales-leasing">Golden Rain Foundation Sales &amp; Leasing</a></li>
                        <li><a href="/residents/third-laguna-hills-mutual/documents#sales-leasing">Third Laguna Hills Sales &amp; Leasing</a></li>
                        <li><a href="/residents/united-laguna-woods-mutual/documents#sales-leasing">United Laguna Woods Sales &amp; Leasing</a></li>
                        <li><a href="/residents/mutual-50/documents#sales-leasing">The Towers Mutual 50 Sales &amp; Leasing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="subnav-residents" class="subnav-item">
        <div class="container">
            <a class="btn btn-purple" href="/residents">Residents Home</a>
            <a class="btn btn-white" href="/residents#governing-boards"><i class="fa fa-folder-open-o"></i>&nbsp;Documents</a>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-4">
                    <h3 class="purple">Governance</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="/residents/golden-rain-foundation">Golden Rain Foundation</a></li>
                                <li><a href="/residents/third-laguna-hills-mutual">Third Laguna Hills Mutual</a></li>
                                <li><a href="/residents/united-laguna-woods-mutual">United Laguna Woods Mutual</a></li>
                                <li><a href="/residents/mutual-50">The Towers Mutual 50</a></li>
                                <li><a href="/residents/village-management-services">Village Management Services</a></li>
                                <li><a href="https://lagunawoodsvillage.granicus.com/ViewPublisher.php?view_id=4" target="_blank">Granicus e-Government Transparency</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7 col-lg-push-1">
                    <h3 class="purple">Services</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/amenities/media-services/cable">Cable Television</a></li>
                                <li><a href="/amenities/media-services/internet">Internet Services</a></li>
                                <li><a href="/residents/resident-services#manor-alterations">Manor Alterations</a></li>
                                <li><a href="/residents/resident-services">Resident Services</a></li>
                                <li><a href="/residents/social-services">Social Services</a></li>
                                <li><a href="/residents/resident-services#rfid">Vehicles &amp; Decals</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/residents/financial-services">Financial Services</a></li>
                                <li><a href="/residents/maintenance">Maintenance &amp; Landscaping</a></li>
                                <li><a href="/residents/reservations">Reservations</a></li>
                                <li><a href="/residents/security-services">Security Services</a></li>
                                <li><a href="/amenities/transportation">Transportation Services</a></li>
                                <li><a href="/amenities/media-services/village-television">Village TV (TV6)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subnav-news" class="subnav-item">
        <div class="container">
            <a class="btn btn-purple" href="/news">News Home</a>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3 class="purple">Featured News</h3>
                    {{ news_feature_menu(3) }}
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-push-1">
                    <h3 class="purple">Categories</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/news/category/clubs">Clubs</a></li>
                                <li><a href="/news/category/events">Events</a></li>
                                <li><a href="/news/category/maintenance">Maintenance</a></li>
                                <li><a href="/news/category/the-scoop">The Scoop</a></li>
                                <li><a href="/news/category/thrive">Thrive Project</a></li>
                                <li><a href="/news/category/whats-up-in-the-village">What's Up In The Village?</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul>
                                <li><a href="/news/category/disaster-preparedness">Disaster Preparedness</a></li>
                                <li><a href="/news/category/landscape">Landscape</a></li>
                                <li><a href="/news/category/recreation">Recreation</a></li>
                                <li><a href="/news/category/village-breeze">The Village Breeze</a></li>
                                <li><a href="/news/category/transportation">Transportation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="subnav-calendars" class="subnav-item">
        <div class="container">
            <a class="btn btn-purple" href="/calendars">Calendars Home</a>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-lg-7">
                    <h3 class="purple">Calendars</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="https://teamup.com/ksd5d83041f695b7b3" target="_blank">All Governance Boards</a></li>
                                <li><a href="https://teamup.com/ks3b2nwf7cpobqsj4m" target="_blank">Golden Rain Foundation</a></li>
                                <li><a href="https://teamup.com/kst1jasa1tqg875u6e" target="_blank">Mutual 50</a></li>
                                <li><a href="https://teamup.com/kscgou5e8j2uq3dw32" target="_blank">Third Laguna Hills Mutual</a></li>
                                <li><a href="https://teamup.com/ksa4mtv7j5r9woeaat" target="_blank">United Laguna Woods Mutual</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-lg-4 col-lg-push-1">
                    <h3 class="purple">Schedules</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="https://teamup.com/kswgodbpwyenbg251g" target="_blank">Event Schedule</a></li>
                                <li><a href="/news/category/landscape">Landscape Maintenance</a></li>
                                <li><a href="/news/category/maintenance">Maintenance Schedules</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="subnav-clubs" class="subnav-item">
        <div class="container">
            <a class="btn btn-purple" href="/amenities/clubs">Browse All Clubs</a>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-7">
                    <h3 class="purple">Club Types</h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <ul>
                                <li><a href="/amenities/clubs?filter=arts">Arts & Crafts</a></li>
                                <li><a href="/amenities/clubs?filter=general">General Interest</a></li>
                                <li><a href="/amenities/clubs?filter=performing">Performing Arts</a></li>
                                <li><a href="/amenities/clubs?filter=tech">Science &amp; Tech</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul>
                                <li><a href="/amenities/clubs?filter=cultural">Cultural</a></li>
                                <li><a href="/amenities/clubs?filter=games">Games</a></li>
                                <li><a href="/amenities/clubs?filter=political">Political</a></li>
                                <li><a href="/amenities/clubs?filter=fitness">Sports &amp; Fitness</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <ul>
                                <li><a href="/amenities/clubs?filter=dance">Dance</a></li>
                                <li><a href="/amenities/clubs?filter=health">Health &amp; Wellness</a></li>
                                <li><a href="/amenities/clubs?filter=religious">Religious</a></li>
                                <li><a href="/amenities/clubs?filter=support">Support Groups</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-push-1 col-lg-4 col-lg-push-1">
                    <h3 class="purple">Club A-Z</h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="/amenities/clubs?filter=ae">Clubs A-E</a></li>
                                <li><a href="/amenities/clubs?filter=fk">Clubs F-K</a></li>
                                <li><a href="/amenities/clubs?filter=lr">Clubs L-R</a></li>
                                <li><a href="/amenities/clubs?filter=sz">Clubs S-Z</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>