/**
 * Push Body
 */
.push-body {
  position: relative;
  left: 0;
}

.push-body, .cbp-spmenu-push {
  @include transition(all 0.3s ease 0s);

  &.modal-open {
    @include transition(none);
  }
}

.push-body-toleft {
  left: -300px;
}

.cbp-spmenu-horizontal {
  width: 100%;
  height: 64px;
  left: 0;
  overflow: hidden;
  top: 0;
}

.cbp-spmenu-top {
  top: -64px;
  @include transition(all 0.3s ease 0s);

  &.menu-open {
    top: 0;
  }
}

.cbp-spmenu {
  position: fixed;
}

.cbp-spmenu-right {
  right: -300px;

  &.menu-open {
    right: 0;
  }
}

.cbp-spmenu-left {
  left: -300px;

  &.menu-open {
    left: 0;
  }
}

.cbp-spmenu-vertical {
  width: 300px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  @include transition(all 0.3s ease 0s);
}

/**
 * Side nav
 */
#side-menu {
  background-color: $grey-lightest;
  z-index: 2031;
  padding: 50px 30px 30px 30px;
  overflow-y: auto;
  color: $grey;
  
  a {
    text-decoration: none;
  }

  p {
    font-size: 0.9em;

    @include media('>=desktop') {
      font-size: 0.8em;
    }
  }

  ul {
    li {
      &:before {
        display: none;
      }
    }
  }

  .side-menu-block {
    a {
      display: block;
    }

    h4, h5 {
      font-weight: $font-weight-light;
      color: $grey-dark;
      border-bottom: 1px solid $grey-dark;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    + * {
      margin-top: 60px;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        padding: 0;

        a {
          display: block;

          @include media('>=desktop') {
            font-size: 0.85em;
            line-height: 0.85em;
          }
        }
      }
    }

    > ul {

      &.social {
        margin-left: auto;
        margin-right: auto;
        display: table;

        li {
          display: block;
          float: left;

          + li {
            margin-left: 12px;
          }
        }
      }

      > li {

        + li {
          margin-top: 0;
        }

        > a {
          padding: 8px 0;
          text-transform: none;
          color: $grey-dark;
          font-weight: $font-weight-regular;

          &:hover {
            color: $blue;
          }
        }

        &.active,
        &.current {
          > a {
            color: $blue;
          }
        }

        > ul {
          display: none;
          padding: 0 0 15px 15px;

          @include media('<tablet') {
            display: none !important;
          }

          > li {
            + li {
              margin-top: 0;
            }

            > a {
              color: $grey-darker;
              text-transform: none;
              padding: 8px 0;

              &:hover {
                color: $blue;
              }
            }

            &.current {
              > a {
                color: $blue;
              }
            }
          }
        }

        &.has-children {
          position: relative;

          > a {
            margin-right: 30px;
          }

          .sub-menu-button {
            display: none;
            content: " ";
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            padding: 0;

            @include media('>=tablet') {
              display: block;
            }

            &:hover {
              cursor: pointer;
            }

            &:after,
            &:before {
              content: " ";
              position: absolute;
              right: 0;
              top: 50%;
            }

            &:before {
              @include sprite(11px,7px,0,-16px);
              margin-top: -6px;
            }

            &:after {
              @include sprite(6px,10px,-7px,-16px);
              display: none;
              margin-top: -3px;
            }
          }

          &.opened {
            .sub-menu-button {
              &:before {
                display: none;
              }

              &:after {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .bar-close {
    position: absolute;
    top: 10px;
    display: block;
    background: none;
    border: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &.menu-right {
      left: 263px;
    }
  }

  .toggle-push {
    position: absolute;
    top: 4px;
    left: 255px;
    height: 30px;
    width: 30px;
  }
}

/**
 * Search Bar
 */
.top-search-bar {
  background: $grey-lightest;
  z-index: 2002;
  padding-top: 10px;


  .search-wrapper {
    position: relative;
    color: $grey;

    a {
      color: $grey;
    }

    @include media('>=tablet') {
      margin-right: 24px;
      margin-left: 12px;
    }

    input {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      padding: 10px 40px;
      margin: 0;
      letter-spacing: 1px;
      line-height: 1.5em;
      height: 44px;
      box-shadow: none;
      font-size: 1em;
    }
  }

  .bar-close,
  .search-bar-icon {
    font-size: 1.25em;
    line-height: 1.25em;
    position: absolute;
    top: 7px;
    display: block;
    left: 0;
    background: none;
    border: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .bar-close {
    right: 0;
    left: auto;
  }
}

/**
 * Mobile nav
 */
#mobile-menu {
  background-color: $grey-lightest;

  @include media($mobile-breakpoint) {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 12px 0;
    list-style: none;

    &.social {
      padding: 0 0 20px 0;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      display: table;

      li {
        display: block;
        float: left;

        + li {
          margin-left: 35px;
        }
      }
    }

    li {
      text-transform: uppercase;

      &:before {
        display: none;
      }

      + li {
        margin: 0;
      }

      > ul {
        display: none;
      }

      a {
        display: block;
        padding: 12px 12px;

        @include media('>=desktop') {
          font-size: 0.85em;
          line-height: 0.85em;
        }
      }
    }
  }
}

/**
 * Hamburger Icon
 */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $hamburger-button-width;
  height: $hamburger-button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include css3-prefix('box-shadow','none');
  @include css3-prefix('border-radius','0');
  border: none;
  cursor: pointer;
  @include transition(background $hamburger-button-transistion-duration);
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: ($hamburger-button-height / 2) - ($hamburger-bar-thickness / 2);
  left: $hamburger-button-pad;
  right: $hamburger-button-pad;
  height: $hamburger-bar-thickness;
  background-color: $grey-dark;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $hamburger-bar-thickness;
  background-color: $grey-dark;
  content: "";
}

.c-hamburger span::before {
  top: -$hamburger-bar-thickness - $hamburger-button-bar-space;
}

.c-hamburger span::after {
  bottom: -$hamburger-bar-thickness - $hamburger-button-bar-space;
}

/**
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */

.c-hamburger--htx span {
  @include transition(background 0s $hamburger-button-transistion-duration);
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: $hamburger-button-transistion-duration, $hamburger-button-transistion-duration;
  transition-delay: $hamburger-button-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active:hover span {
  background: none;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  @include css3-prefix('transform','rotate(45deg)');
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  @include css3-prefix('transform','rotate(-45deg)');
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, $hamburger-button-transistion-duration;
}
