<div class="row grid-gutter-20">
    {% for post in posts %}
        <div class="col-xs-12 {% if loop.index > 2 %}hidden-sm hidden-md col-sm-4{% else %}col-sm-6 col-lg-4{% endif %}">
            <div class="item-box linked">
                <a class="linked" href="{{ url(post.path) }}#post">
                    <img class="item-container" src="{{ image(post.news_image).fit(320,200).path() }}">
                </a>
            </div>
            <div class="item-caption">
                <a href="{{ url(post.path) }}#post"><small>{{ post.title }}</small></a>
            </div>
        </div>
    {% endfor %}
</div>